h1{
    text-align: center;
    color: white;
    margin-top: 5%;
    position: relative;
    top: 0;
    left:0 ;
}
h1::after{
    content: "Made by Bilal";
    font-size: 13px;
    font-weight: 100;
    position: absolute;
    bottom: 5%;
    margin-left: 0.5%;
}
.main-parent{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-child{
    box-shadow: 00px 10px 0px #222222;
    border: 2px solid #222222;
    border-radius: 10px;
    display: flex;
    gap: 0;
    flex-direction: column;
    background-color: #2B2B2B;
    padding: 1%;
    width: 40%;   
    padding-bottom: 1.5%;
    
}
.search-bar{
    background-color: #3E3E3E;
    border: 2px solid #222222;
    padding: 3%;
    outline: none;
    border-radius: 7px;
    font-size: 15px;
    color: white;
    caret-color: white;
    margin-bottom: 2%;
    z-index: 5;
    box-shadow: 0 10px 0px #222222;
}

.no-tasks{
    color: rgb(133, 133, 133);
    padding: 2%;
    background-color: #272727;
    border-radius: 7px;
}

@media (max-width:680px) {

    .main-child{
        width: 80%;
        padding: 3%;
        padding-bottom: 4%;
    }
    
}