.task-template{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 10px;
    align-items: center;
    animation: floatIn;
    animation-duration: 0.3s;
}

@keyframes floatIn {
    0%{
        opacity: 1;
        transform: translate(0px, -20px);
        z-index: 1;
    }
    
}

.removeAnimation{
    animation-name: floatOut;
    animation-duration: 1s ;
}

@keyframes floatOut{
    0%{
        opacity: 0;
    }
    
}


.task-description{
    background-color: #5E5E5E;
    width: 90%;
    margin: 0%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    border-radius: 7px;
    padding: 2.5%;
    color: white;
    box-shadow: 0 10px #7acf64;
    font-size: 16px;
    border: 2px solid #7acf64;
}

.task-btns{
    background-color: #474747;
    border: 0;
    padding: 2%;
    border-radius: 5px;
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}


.task-btns:hover{
    background-color: #3f3f3f;
    transition: 0.1s ease-in-out;
}

 .btn-icon-complete{
    width: 100%;
    
}

.btn-icon-delete{
    width: 65%;
    
}

.task-completed{
    text-decoration: line-through;
    color: rgb(173, 173, 173);
}

@media (max-width:680px) {

    .task-description{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    .task-btns{
        width: 11%;
    }
    
}